<footer>
  <div class="footer-content container">
    <ul class="footer-item">
      <li class="footer-item__title"><a href="/"><img src="/assets/images/logo.png" alt="logo"></a></li>
      <li>2020 © Mannex Все права защищены Публичная оферта</li>
    </ul>
    <div class="footer-item">
      <h2 class="footer-item__title">Основное</h2>
      <ul>
      <li><a href="#">Главная</a></li>
      <li><a href="#">О компании </a></li>
      <li><a href="#">Pro-Запрос</a></li>
      <li><a href="#">Гараж</a></li>
      <li><a href="#">Контакты</a></li>
      <li><a href="#">Заказы</a></li>
    </ul>
    </div>

    <div class="footer-item">
      <h2 class="footer-item__title">Аккаунт</h2>             
    <ul>
      <li><a href="#">Корзина</a></li>
      <li><a href="#">Баланс  </a></li>
      <li><a href="#">Мои заказы</a></li>
      <li><a href="#">Запрос продавцу</a></li>
      <li><a href="#">Сравнение</a></li>
    </ul>
    </div>

    <div class="footer-item">
      <h2 class="footer-item__title">Контакты</h2>               
    <ul>
      <li><a href="#"><i class="material-icons">home</i>Главная </a></li>
      <li><a href="#"><i class="material-icons">phone</i>91 921 96 95  </a></li>
    </ul>
    </div>
    
  </div>
</footer>