<div class="container ">
  <form action="" class="search">
    <div class="search__field">
      <input id="search" type="text" class="search__filed_input" name="search" placeholder="Поиск по артикулу...">
      <button type="submit" class="search-btn button">
        <i class="material-icons">
          search
        </i>
      </button>
    </div>
  </form>
</div>