<div class="page">
  <div class="section contact">

    <h1 class="title">
      Контакты
      <span>
        Контакты
      </span>
    </h1>
    <div class="content">
      <ul>
        <li>Центральный офис г. Екатеринбург ул. Бисертская 29
          <br />
          <span>Тел. 8 912 294 5345</span>
        </li>

        <li>Доп. офис г. Екатеринбург ул. Папанина 9
          <br />
          <span>Тел. 8 900 203 8083</span>

        </li>
        <li>info-autoheads@mail.ru</li>
      </ul>

      <div class="location-map">
        <div class="title2">Наше местоположение</div>
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2981.784976924608!2d69.94436851527253!3d41.63877897924196!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38af17bade7c571d%3A0x4d9354337658f68b!2sMilliy%20universitet%20dam%20olish%20zonasi!5e0!3m2!1sen!2s!4v1643277647316!5m2!1sen!2s"
          width="100%"
          height="450"
          style="border:0;"
          allowfullscreen=""
          loading="lazy"
        ></iframe>
      </div>
    </div>
  </div>
</div>