<div class="page">
  <div class="section login">
    <h1 class="title2" style="text-align: center;width:100%;">
      Login
    </h1>
    <div class="content">
      <form action="/login" method="POST">
        <div class="input-group">
          <div class="input-field">
            <input type="email" name="email" id="email" placeholder="E-mail" />
          </div>
          <div class="input-field">
            <input type="password" name="password" placeholder="Пароль" />
          </div>
        </div>
        <div class="btn-group mb-2">
          <button type="submit" class="bg-blue btn-shdw">Login</button>
          <div class="info-form">
            <p>Нажимая кнопку “Зарегистрироваться” вы примимаете нашу </p>
            <a href="/register">политику конфиденциальности</a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
</div>