<div class="page">
  <div class="section myprods">
    <div class="title2">My Products</div>
    <div class="myprods_list">
      
          {{!-- Prod card ========================> --}}
         <div class="prod-card">
             <a href="#" class="prod-card__img">
              <img src="/assets/images/product.png" alt="prod">
            </a>
            <h2 class="prod-card__title">
              Michelin
            </h2>
            <p class="prod-card_descr">
              Шина летняя "Primacy 3 GRNX 205/55R16 91V"
            </p>
            <div class="prod-card__buttons">
              <span class="price">
                990р.
              </span>
              <span class="button-sm bg-blue">
               <i class="material-icons">
                 edit
               </i>
             </span>
             <span class="button-sm btn-shdw bg-red">
               <i class="material-icons del-color">
                 delete
               </i>
             </span>
            </div>
            <div class="prod-card__buttons">
              <a href="#" class="read-more">Details</a>
            </div>
          </div>
          {{!-- Prod card ========================> --}}
          {{!-- Prod card ========================> --}}
         <div class="prod-card">
             <a href="#" class="prod-card__img">
              <img src="/assets/images/product.png" alt="prod">
            </a>
            <h2 class="prod-card__title">
              Michelin
            </h2>
            <p class="prod-card_descr">
              Шина летняя "Primacy 3 GRNX 205/55R16 91V"
            </p>
            <div class="prod-card__buttons">
              <span class="price">
                990р.
              </span>
              <span class="button-sm bg-blue">
               <i class="material-icons">
                 edit
               </i>
             </span>
             <span class="button-sm btn-shdw bg-red">
               <i class="material-icons del-color">
                 delete
               </i>
             </span>
            </div>
            <div class="prod-card__buttons">
              <a href="#" class="read-more">Details</a>
            </div>
          </div>
          {{!-- Prod card ========================> --}}
          {{!-- Prod card ========================> --}}
         <div class="prod-card">
             <a href="#" class="prod-card__img">
              <img src="/assets/images/product.png" alt="prod">
            </a>
            <h2 class="prod-card__title">
              Michelin
            </h2>
            <p class="prod-card_descr">
              Шина летняя "Primacy 3 GRNX 205/55R16 91V"
            </p>
            <div class="prod-card__buttons">
              <span class="price">
                990р.
              </span>
              <span class="button-sm bg-blue">
               <i class="material-icons">
                 edit
               </i>
             </span>
             <span class="button-sm btn-shdw bg-red">
               <i class="material-icons del-color">
                 delete
               </i>
             </span>
            </div>
            <div class="prod-card__buttons">
              <a href="#" class="read-more">Details</a>
            </div>
          </div>
          {{!-- Prod card ========================> --}}
          
    </div>
    <a href="/myprods/create" class="button bg-blue">Add New</a>
  </div>
</div>
