<div class="not_found section">
  <div class="img_section">
    <img src="/assets/images/sad.png" alt="sad">
    <p>Пока что здесь ничего нет, перейдите в каталог и добавьте интересующий товар</p>
  </div>
  <div class="btns">
    <a href="#" class="button bg-red btn-shdw">Перейти в каталог</a>
  </div>
</div>