<div class="page">
  <div class="section orders delivered-orders">
   <h1 class="title2">Заказы</h1>
   <div class="orders-list">
     <div class="orders-list__item">
       <table>
         <tbody>
           <tr class="row-gr">
             <th >Всего:</th>
             <td>300230p.</td>
           </tr>
           <tr class="row-gr">
             <th >id:</th>
             <td>asdf131431</td>
           </tr>
           <tr class="row-gr">
             <th>Дата:</th>
             <td>25 june 2021</td>
           </tr>
           <tr class="row-gr">
             <th class=>Orders</th>
           </tr>
           <tr class="row-gr">
             <th>category:</th>
             <td>zapchast</td>
           </tr>    
         </tbody>
       </table>
        <ul>
            <li>name qty price,</li>
            <li>name qty price, </li>
            <li>name qty price,</li>
            <li>name qty price,</li>
            <li>name qty price,</li>
        </ul>
     </div>
   </div>
  </div>
</div>