<div class="page">
  <div class="section orders undelivered-ords">
    <h1 class="title2">Заказы</h1>
    <form class="order-sort" action="">
      <div class="input-group2">
        <div class="input-field">
          <input type="radio" name="orderstatus" id="delivered">
          <label for="delivered">Delivered</label>
        </div>
        <div class="input-field">
          <input type="radio" name="orderstatus" id="undelivered">
          <label for="undelivered">Undelivered</label>
        </div>
      </div>
      <button type="submit" class="button btn-shdw bg-blue">Sort</button>
    </form>
    <div class="orders-list">
      <div class="orders-list__item">
        <table>
          <tbody>
            <tr class="row-gr">
              <th>Всего:</th>
              <td>300230p.</td>
            </tr>
            <tr class="row-gr">
              <th>id:</th>
              <td>asdf131431</td>
            </tr>
            <tr class="row-gr">
              <th>status:</th>
              <td>fast-delivered</td>
            </tr>
            <tr class="row-gr">
              <th>delivered Дата:</th>
              <td>25 june 2021</td>
            </tr>
            <tr class="row-gr">
              <th>ordered Дата:</th>
              <td>25 june 2021</td>
            </tr>
            <tr class="row-gr">
              <th class=>Orders</th>
            </tr>
            <tr class="row-gr">
              <th>category:</th>
              <td>zapchast</td>
            </tr>
          </tbody>
        </table>
        <ul>
          <li>name qty price,</li>
          <li>name qty price, </li>
          <li>name qty price,</li>
          <li>name qty price,</li>
          <li>name qty price,</li>
        </ul>
        <a class="button bg-red btn-shdw">
          cancel
        </a>
      </div>
    </div>
  </div>
</div>
</div>