<div class="page">
  <div class="section register">
    <h1 class="title2 mb-2">
      Register
    </h1>
    <div class="content mb-2">
      <form action="/register" method="POST">
        <div class="input-group">
          <div class="input-field">
            <input type="email" name="email" id="email" placeholder="E-mail" />
          </div>
          <div class="input-field">
            <input type="password" name="password" placeholder="Пароль" />
          </div>
          <div class="input-field">
            <input type="password" name="confirm" placeholder="Повтор пароля" />
          </div>
          <div class="input-field">
            <input type="text" name="firstname" placeholder="Имя" />
          </div>
          <div class="input-field">
            <input type="text" name="lastname" placeholder="Фамилия" />
          </div>
          <div class="input-field">
            <input type="text" name="secondname" placeholder="Отчество" />
          </div>
        </div>
        <div class="btn-group mb-2">
          <button type="submit" class="bg-blue btn-shdw">Register</button>
          <div class="info-form">
            <p>Нажимая кнопку “Зарегистрироваться” вы примимаете нашу </p>
            <a href="/login">политику конфиденциальности</a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
</div>